<html>
    <head>
        <style>
            .form-class{
            padding-left:100px;
        }
        </style>
        
    </head>
    <body >
        <center><h1>Trade Data</h1></center>
        
        <form class="form-class" action="get-file" method="POST">
            {% csrf_token %}
            <!-- <p>CSV File: <input type="file" name="csv_file"></p> -->
            <p>TimeFrame: <input type="number" name="timeframe"></p>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>